body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("background.jpg");
    /*background: #081018;*/
    color: #fff;
}

header {
    background: #111d2c;
    padding: 10px;
    text-align: center;
}

nav .tab {
    background: #2b3a50;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

nav .tab.active {
    background: #ff6600;
}

.categories {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
}

.category {
    background: #14212e;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
}

.category h2 {
    text-align: center;
    color: #fff;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.item {
    background: #1f2c3b;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 80px;
}

.item img {
    width: 50px;
    height: 50px;
}

.item p {
    margin: 5px 0 0;
    color: #00d0ff;
    font-weight: bold;
}
